/* .App {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.addTask {

    height: 20vh;
    background-color: dodgerblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.list {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}

.task {
    width: 500px;
    height: 50px;
    display: flex;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task button {
    width: auto;
    height: 20px;
    margin-left: 5px;
    text-align: center;
} */

* {
    box-sizing: border-box;
}

body {
    margin-top: 40px;
    padding: 10px;
}

.addTask {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px
}

.list {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.link {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.Play {
    display: flex;
    align-items: flex-end;
    padding: 30px;
}

.Nav {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    padding-left: 20px;

}

.counter {
    position: relative;
    display: flex;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn--minus {
    position: relative;
    background-color: black;
    color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;
    margin-right: -20px;
    z-index: 1;

}

.btn--plus {
    position: relative;
    background-color: black;
    color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;
    margin-left: -20px;
}

.circle-text {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
}

.Meme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.image {
    object-fit: cover;
    margin: 10px
}

.home {
    display: inline-block;

    padding: 40px
}

.names {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;


}

.form {

    padding: 20px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    text-indent: 2px;
    border: black 2px solid;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    height: 30px;
}

input[type="checkbox"] {
    margin: .75rem;

}

textarea {
    display: block;
    text-indent: 2px;
    border: black 2px solid;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    height: 30px;
}